@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #f97316;
  --color-primary-dark: #f97316;
  --color-secondary: #f97316;
  --color-secondary-dark: #f97316;
}

:root {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f8fafc;
  --color-text-primary: #0b0b0b;
  --color-text-secondary: #6c6f77;
  --color-border: #dbdde3;
  --color-border-secondary: #dbdde3;
  --color-surface: #ffffff;
}

.dark {
  --color-bg-primary: #000000;
  --color-bg-secondary: #111111;
  --color-text-primary: #ffffff;
  --color-text-secondary: #9f9fa9;
  --color-border: #232323;
  --color-border-secondary: #333333;
  --color-surface: #0b0b0b;
}

@layer components {
  .skeleton {
    @apply animate-pulse bg-gray-300 dark:bg-neutral-700;
  }
}